html {
  font-size: 11px;
}

body {
  padding: 0;
  margin: 2rem 2rem 1rem 2rem;
  text-align: center;
}

.bigbuttons {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
}

.bigbuttons li {
  position: relative;
  display: inline-block;
  padding: 0;
}

/* Button */
.bigbuttons button {
  font: 1rem Arial, sans-serif;
  text-align: center;

  color: #777;
  background: #f7f7f7 linear-gradient(#f7f7f7, #e7e7e7);

  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0px 2px 3px #fff;

  display: block;
  position: relative;

  margin: 2rem;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
}

/* Circle around the button */
.bigbuttons button:before {
  content: "";
  background: #fff;

  border-top: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: inset 0px 8px 50px #ddd;

  display: block;
  z-index: -1;

  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
  bottom: -1.25rem;
  right: -1.25rem;
}

/* Hover */
.bigbuttons button:hover {
  color: #555;
  background: #f9f9f9;
  cursor: pointer;
}

/* Focus */
.bigbuttons button:focus {
  outline: none;
}
.bigbuttons button::-moz-focus-inner {
  border: none;
}
.bigbuttons button:focus:before {
  border: 1px solid #333;
}

/* Playing */
.bigbuttons button.playing:before {
  box-shadow: inset 0px 0px 48px #667;
}

/* Errors */
.bigbuttons .dataunavailable,
.bigbuttons .error {
  opacity: .5;
}

/* Letter to press */
.bigbuttons .key {
  color: #eee;
  font-size: .9em;
  position: absolute;
  top: -7rem;
  left: 48%;
  transition: color .5s;
}

/* When 10 buttons */
@media (min-width: 147rem) and (max-width: 161rem) {
  .bigbuttons .key {
    color: #444;
  }
}

@media (max-width: 50rem) {
  .bigbuttons .key {
    color: #fff;
  }
}
